* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    height: 100%;
}

body {
    font-family: 'Varela Round', sans-serif;
    background: #fff;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    background: #FDD670;
    position: fixed;
    width: 100%;
    border: 1px solid #ecc766;

}

.sidebarIconToggle {
    width: 30px;
    height: 22px;
    position: absolute;
    top: 22px;
    left: 15px;
    background: #FDD670;
}

.spinner {
    height: 3px;
    background-color: black;
    transition: all 0.3s;
    width: 20px;
    margin: auto;
    margin-top: 3px;
}

.spinner.middle,
.spinner.bottom {
    margin-top: 3px;
}

#openSidebarMenu {
    display: none;
}

#openSidebarMenu:checked~.sidebarIconToggle>.spinner.middle {
    opacity: 0;
}

#openSidebarMenu:checked~.sidebarIconToggle>.spinner.top {
    transform: rotate(135deg);
    margin-top: 8px;
}

#openSidebarMenu:checked~.sidebarIconToggle>.spinner.bottom {
    transform: rotate(-135deg);
    margin-top: -9px;
}

.image {
    background: #FDD670;
    width: 65%;
}

.chaldal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 20%;
}

.toggle {
    background: rgb(167, 146, 146);
}

.search-box {
    background: #fff;
    flex-basis: 43%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 6px 0px;
    height: 50px;
}

.search-box img {
    width: 18px;
    margin-right: 20px;
}

.search-box input {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    padding: 10px;
}


.location {
    font-family: "segoe ui", Helvetica, "droid sans", Arial, "lucida grande", tahoma, verdana, arial, sans-serif;
    font-weight: 700;
    color: #615e58;
    margin-left: 20px;
    border-left: 1px solid #ecc766;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
    cursor: pointer;
}

.help {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
    font-family: "segoe ui", Helvetica, "droid sans", Arial, "lucida grande", tahoma, verdana, arial, sans-serif;
    font-weight: 700;
    color: #615e58;
    margin-left: 20px;
    border-left: 1px solid #ecc766;
    cursor: pointer;
}

.help h3 {
    margin-right: 20px;
    font-weight: bold;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
    font-family: "segoe ui", Helvetica, "droid sans", Arial, "lucida grande", tahoma, verdana, arial, sans-serif;
    font-weight: 700;
    color: #615e58;
    margin-left: 20px;
    border-left: 1px solid #ecc766;
    cursor: pointer;
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 12%;
    font-family: "segoe ui", Helvetica, "droid sans", Arial, "lucida grande", tahoma, verdana, arial, sans-serif;
    font-weight: 900;
    color: #FFFFFF;
    background-color: #FF686E;
    margin-left: 20px;
    border-left: 1px solid #ecc766;
    cursor: pointer;
}

.full-container {
    margin-top: 72px;
    display: flex;
}

.sidebar-container {
    height: 100vh;
    background: whitesmoke;
    overflow: scroll;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 5px;
    font: 100%/1.4 serif;
    border: 1px solid rgba(0, 0, 0, 0.25);
    flex-basis: 20%;
    border-right: 1px solid #d4d4d4;
}



/* width */
.sidebar-container::-webkit-scrollbar {
    width: 3px;
}

/* Track */
.sidebar-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.sidebar-container::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.sidebar-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.main-container {
    flex-basis: 80%;
    margin-left: 10px;
}